@import '../../assets/styles/_colors.scss';
@import '../../assets/styles/fonts';

.about-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;

  .tagline {
    padding-left: 25px;
    margin-left: 5%;
    align-self: flex-start;
    font-family: $font-secondary;
    color: $color-secondary;
  }

  .heading {
    padding: 15px 25px 25px;
    margin-left: 5%;
    align-self: flex-start;
    font-size: 2.2em;
    font-weight: 600;
    letter-spacing: -2px;
  }
}
