@import '../../assets/styles/_colors.scss';
@import '../../assets/styles/fonts';

.about-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;

  .tagline {
    font-family: $font-secondary;
    color: $color-secondary;
  }

  .heading {
    padding: 10px 0 20px;
    font-weight: 700;
  }
}
