@import '../../assets/styles/main';

.page--about {
  display: flex;
  flex-direction: column;

  .heading {
    @include heading;
  }

  .about {
    display: flex;

    &__info {
      display: flex;
      flex-direction: column;

      &__text {
        opacity: 0.75;
      }

      &__skillset {
        font-size: 0.8em;

        &__skill {
          @include accent;
        }
      }
    }

    &__image {
      height: 300px;
      width: 300px;
      border-radius: 5px;
      box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
    }
  }
}
