@import "../../assets/styles/main";

.menu {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  background-color: $color-tertiary;
  padding: 0 25px;

  &__option {
    cursor: pointer;
    font-size: 14px;

    &--special {
      @include accent;
      font-size: 13px;
    }
  }
}
