@import "../../assets/styles/main";

.page--contact {
  display: flex;
  flex-direction: column;
  align-items: center;

  .heading {
    text-align: center;

    &__tag {
      @include accent;
    }

    &__main {
      font-weight: 700;
    }
  }

  .content {
    opacity: 0.75;
    margin-bottom: 38px;
    max-width: 750px;
    text-align: center;
  }
}
