@import '../../assets/styles/_colors.scss';
@import '../../assets/styles/fonts';

.contact-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;

  .heading {
    align-self: center;

    .tagline {
      text-align: center;
      font-size: 1.1em;
      font-family: $font-secondary;
      color: $color-secondary;
    }

    .headline {
      padding: 15px 0 25px;
      font-size: 2.8em;
      font-weight: 600;
      letter-spacing: -2px;
    }
  }

  .text {
    opacity: 0.75;
    padding-bottom: 45px;
    max-width: 750px;
    font-size: 1.1em;
    line-height: 1.3;
    text-align: center;
  }
}
