@import "../../assets/styles/main";

.page--home {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 20%;

  .hero {
    margin-bottom: 38px;

    &__tag {
      @include accent;
      margin: 0 0 19px 5px;
    }

    &__main {
      font-size: 72px;
      line-height: 88px;
      font-weight: 700;
    }

    &__sub {
      font-size: 72px;
      line-height: 88px;
      opacity: 0.75;
    }
  }
}

@media screen and (max-width: $breakpoint-laptop) {
  .page--home {
    margin-left: 0;
    padding: 275px 0 250px;

    .hero {
      margin-bottom: 32px;

      &__tag {
        line-height: 1.3;
      }

      &__main {
        font-size: 38px;
        line-height: 1.3;
      }

      &__sub {
        display: flex;
        flex-direction: column;
        font-size: 32px;
        line-height: 1.3;
      }
    }
  }
}
