@import "../../assets/styles/main";

.page--home {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 20%;

  .hero {
    font-size: 4.6em;

    &__tag {
      @include accent(1.1rem);
      margin: 0 0 15px 5px;
    }

    &__main {
      font-weight: 600;
    }

    &__sub {
      margin-bottom: 45px;
      opacity: 0.75;

      &__adj {
      }
    }
  }
}
