@import '../../assets/styles/_colors.scss';
@import '../../assets/styles/_fonts.scss';

.social {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 63px;
  bottom: 0;

  .icon {
    cursor: pointer;
    margin: 15px 0;
    align-self: center;
  }

  .vl {
    height: 100px;
    width: fit-content;
    justify-content: center;
    margin: 15px auto 0;
    border-left: 1px solid $color-primary;
  }
}
