@import "../../assets/styles/main";

.social {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;

  &__content {
    display: flex;
    margin: 15px 0 15px 63px;
    align-items: center;
  }

  &__icon {
    cursor: pointer;

    &:hover {
      + .social__url {
        display: flex;
      }
    }
  }

  &__url {
    @include accent(0.85em);
    margin-left: 15px;
    display: none;
  }

  &__decoration {
    height: 100px;
    margin: 15px 0 0 73px;
    border-left: 1px solid $color-primary;
  }
}
