@import "../../assets/styles/main";

.card {
  display: flex;
  width: 100%;
  max-width: 600px;
  margin: 25px 0;
  border-radius: 3px;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
  position: relative;
  z-index: 0;

  &__overlay {
    height: 100%;
    width: 100%;
    opacity: 0.75;
    background-color: $color-background-secondary;
    border-radius: inherit;
    position: absolute;
    z-index: 1;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 25px;
    justify-content: space-evenly;
    min-height: 350px;
    font-weight: 500;
    z-index: 10;

    .card__title {
      font-size: 24px;
      line-height: 1;
    }

    .card__description {
      font-size: 14px;
      opacity: 0.75;
    }

    .card__skill {
      @include accent;
      padding-right: 10px;
    }

    .card__link {
      margin-right: 15px;
    }
  }
}

@media screen and (min-width: $breakpoint-tablet) and (max-width: $breakpoint-laptop) {
  .card__content {
    padding: 50px;
  }
}
