// Import Google Fonts
@import url("https://fonts.googleapis.com/css?family=Fira+Code|Montserrat:300,700&display=swap");

// Fonts
$font-primary: "Montserrat", sans-serif;
$font-secondary: "Fira Code", monospace;

// Colors
$color-primary: rgba(239, 241, 245, 1);
$color-secondary: rgba(191, 97, 106, 1);
$color-tertiary: rgba(52, 61, 70, 1);
$color-background: rgba(37, 41, 52, 1);

// Breakpoints
$breakpoint-desktop: 1200px;
$breakpoint-laptop: 950px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 400px;
