@import "../../assets/styles/main";

.header {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 100%;
  position: absolute;
  padding: 25px 50px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;

    .brand__logo {
      height: 50px;
      width: 50px;
    }

    .header__options {
      display: flex;
      align-items: center;

      &__option {
        margin: 0 15px;
        font-family: $font-secondary;
        transition: ease-in-out 0.25s;

        &:hover {
          color: $color-secondary;
        }

        &__code {
          @include accent;
          padding-right: 10px;
        }
      }
    }

    .header__toggle {
      display: none;
    }
  }
}

@media screen and (max-width: $breakpoint-laptop) {
  .header {
    height: fit-content;
    position: fixed;
    top: 0;
    z-index: 10;
    padding: 0;

    &__container {
      height: 65px;
      padding: 0 25px;
      z-index: 10;
      background-color: $color-background;

      .header__options {
        display: none;
      }

      .header__toggle {
        display: flex;
      }
    }
  }
}
