@import '../../styles/_colors.scss';
@import '../../styles/_fonts.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  font-size: 0.85em;

  .options {
    display: flex;
    align-items: center;

    .option {
      margin: 10px;

      .code {
        color: $color-secondary;
        font-family: $font-secondary;
      }

      .text {
        margin: 10px;
        transition: 0.25s;
      }
    }
  }
}
