@import "../../assets/styles/main";

.header {
  display: flex;
  height: 100px;
  width: 100%;
  padding: 25px 50px;
  position: absolute;
  justify-content: space-between;

  .brand__logo {
    height: 50px;
    width: 50px;
  }

  &__menu {
    display: none;
  }

  &__options {
    display: flex;
    align-items: center;

    &__option {
      margin: 0 15px;
      font-family: $font-secondary;
      transition: ease-in-out 0.25s;

      &:hover {
        color: $color-secondary;
      }

      &__code {
        @include accent;
        padding-right: 10px;
      }
    }
  }
}

@media screen and (max-width: $breakpoint-laptop) {
  .header {
    padding: 0 25px;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: $color-background;

    &__menu {
      display: flex;
    }

    &__options {
      display: none;
    }
  }
}
