@import '../../assets/styles/_colors.scss';
@import '../../assets/styles/fonts';

.projects-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1250px;

  .tagline {
    padding-left: 25px;
    margin-left: 5%;
    align-self: flex-start;
    font-family: $font-secondary;
    color: $color-secondary;
  }

  .heading {
    padding: 15px 25px 25px;
    margin-left: 5%;
    align-self: flex-start;
    font-size: 2.2em;
    font-weight: 600;
    letter-spacing: -2px;
  }

  .carousel {
    height: 100%;
    width: 100%;
    display: grid;
    min-height: 475px;
    grid-template-columns: 5% 1fr 5%;

    .arrow {
      cursor: pointer;
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }
    }

    .prev {
      align-self: center;
      justify-self: start;
    }

    .next {
      align-self: center;
      justify-self: end;
    }

    .projects {
      display: flex;
      align-self: center;
    }
  }

  .indicators {
    display: flex;
    margin: 10px 0 20px;
    justify-content: center;
    align-items: center;

    .indicator {
      cursor: pointer;
      height: 5px;
      width: 25px;
      margin: 0 5px;
      background-color: rgba($color-primary, $alpha: 0.2);

      &.current {
        background-color: rgba($color-primary, $alpha: 1);
      }
    }
  }
}
