@import "../../assets/styles/main";

.projects--page {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  padding: 150px 0;

  .heading {
    margin-left: 5%;
    text-align: start;

    &__tag {
      @include accent;
    }

    &__main {
      font-weight: 700;
      margin-bottom: 19px;
    }
  }

  .carousel {
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    overflow: hidden;

    &__prev {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    &__next {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }

  .arrow {
    cursor: pointer;
    opacity: 0.5;
    transition: ease-in-out 0.25s;

    &:hover {
      opacity: 1;
    }
  }

  .indicators {
    display: flex;
    margin-top: 28px;
    justify-content: center;

    &__indicator {
      cursor: pointer;
      height: 6px;
      width: 24px;
      margin: 0 6px;
      transition: ease-in-out 0.25s;
      background-color: rgba($color-primary, $alpha: 0.2);

      &:hover {
        background-color: rgba($color-primary, $alpha: 0.5);
      }

      &.current {
        background-color: rgba($color-primary, $alpha: 1);
      }
    }
  }

  .button__container {
    display: flex;
    justify-content: center;
    margin-top: 28px;
  }
}

@media screen and (max-width: $breakpoint-laptop) {
  .projects--page {
    min-height: 100vh;
    width: 100%;
    max-width: 100%;
    justify-content: center;
    align-items: center;

    .heading {
      margin-left: 0;
      width: 100%;
      max-width: 600px;
      text-align: center;

      &__main {
        font-weight: 700;
        margin-bottom: 25px;
      }
    }

    .button__container {
      margin-top: 25px;
    }
  }
}
