@import "../../assets/styles/main";

.showcase {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 25px;

  &__container {
    padding-bottom: 56.25%;
    position: relative;
    grid-column: 1 /8;
    grid-row: 1/3;
    z-index: 1;

    &__image {
      height: 100%;
      width: 100%;
      display: block;
      position: absolute;
      border-radius: 3px;
      box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    grid-column: 7/-1;
    grid-row: 1/3;
    justify-content: center;
    text-align: end;
    z-index: 10;

    &__title {
      padding-right: 20px;
    }

    &__description {
      padding: 20px;
      border-radius: 3px;
      color: rgba($color-primary, $alpha: 0.75);
      background-color: $color-tertiary;
      box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
    }

    &__skills {
      margin: 20px 0;
      padding-right: 20px;

      &__skill {
        @include accent;
        font-size: 14px;
        margin-left: 15px;
      }
    }

    &__links {
      padding-right: 20px;

      &__link {
        cursor: pointer;
        margin-left: 15px;
        opacity: 0.75;
        transition: ease-in-out 0.25s;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
