@import 'assets/styles/colors';
@import 'assets/styles/fonts';

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: $color-primary;
  font-family: $font-primary;

  body {
    height: 100%;
    width: 100%;
    background-color: $color-background;
    -webkit-font-smoothing: antialiased;
  }
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  padding: 100px 150px;
  align-items: center;
  justify-content: center;
}
